
@import url('https://fonts.googleapis.com/css?family=Nunito');

.widget .header {
  display: none;
}
.container {
  background-image: none !important;
}
body {
  font-family: "Nunito",sans-serif;
  background: transparent; 
}

#registration .container .content {
  padding: 0px;
  background-color: transparent;
  font-family: "Nunito",sans-serif;
  text-align: center;
}

#registration .container .content {
  float:none;
  width:100%;
}

@media (min-width: 500px)
#registration .container .content {
  float:none !important;
  width:100% !important;
}

.widget .container{
  padding: 20px;
}
h1, h3{
  padding-bottom: 0px;
  text-align: center;
  font-family: "Nunito",sans-serif;
  color: #fff;
}
h1{
  font-size: 34px;
  text-transform: uppercase;
  line-height: 1;
}
h3{
  font-size: 20px;
  font-weight: 200;
  line-height: 1.2;
}
#registration .container .content button {
  font-family: "Nunito",sans-serif;
  margin-top: 30px;
  width: 200px;
  border-radius: 2px;
  border: transparent;
  background-color: #d7df59 !important;
  color: #000 !important;
}
#registration .container .content button:hover{
  background-color: #d7df59! important;
}
#registration .container .content .login {
    margin-top: 50px;
    text-align: right;
    margin-bottom: 0px;
}

#account-overview .header {
    display: none !important;
}
#account-overview .user-container {
    display: block;
    padding: 0px;
    text-align: center;
}
#account-overview .points-info, #account-overview .user-info {
    display: block;
    vertical-align: top;
    width: 100%;
    padding: 0px;
}
.progress-bar-container {
    display: none !important;
}
img.profile-pic {
    border-radius: 50% !important;
    width: 140px !important;
    height: 140px !important;
}
.name {
    font-family: "ProximaNova-Regular";
    font-size: 25px !important;
    text-transform: none !important;
    color: #333 !important;
    margin-top: 12px;
}
img.icon {
    display: none !important;
}
.fan-level .small::before {
    content: 'Curent Level';
    display: block;
    font-weight: bold;
    margin-top: 15px;
    color: #333;
}
.small {
    font-size: 18px;
    color: #ff004f !important;
}
.points.ct-points-color {
    color: #ff004f !important;
    font-size: 18px !important;
}
.points.ct-points-color.flash-points::before {
    content: 'Points';
    display: block;
    font-weight: bold;
    margin-top: 15px;
    color: #333;
  }


